# ?ы겕 ?쒕쾭 ?????쒕쾭
# ?꾨줉???ㅼ뿉 ?덉쑝誘濡????ы듃???몃????몄텧?섏? 留덉꽭??

server-port=25566
server-ip=127.0.0.1

# ?좑툘 ?꾨줉??Velocity)媛 ?대? ?뺥뭹 ?몄쬆???앸깉湲??뚮Ц??諛깆뿏?쒕뒗 false媛 ?뺤긽?낅땲??
# ??????ы듃媛 ?몃????대젮 ?덉쑝硫??꾧뎄???꾨Т UUID濡??묒냽?????덉뒿?덈떎.
# 諛섎뱶??諛⑺솕踰쎌쑝濡?留됯퀬, ?꾨줉???ы듃(25565)留??ъ꽭??
online-mode=false

motd=Ruc Server - ??max-players=100
view-distance=8
simulation-distance=6
enable-command-block=false
spawn-protection=0
allow-flight=true
enable-rcon=true
rcon.port=25576
rcon.password=__GENERATED_AT_SETUP__
white-list=false
difficulty=peaceful
gamemode=adventure
