# Discord
DISCORD_TOKEN=
GUILD_ID=
ROLE_ID=
CHANNEL_ID=
LOG_CHANNEL_ID=

# Minecraft RCON
MC_HOST=
MC_RCON_PORT=25575
MC_RCON_PW=

# Database (Phase 6+)
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=ruc
